:root {
    --line-colour: #a9b9c7;
    --dark-line-colour: #94a6b6;
    --link-colour: #216ec5f0;
}

.page {
    background: #d3cfca;
}

.titleCard {
    background-color: #4c82b8;
}

#text-content {
    color: #222426;
    background-color: #d6c7b1;
}

#font-selection {
    color: #222426;
}

a[href^='#'] {
    color: var(--link-colour);
    /* font-weight: bold; */
    /* text-decoration: underline; */
}

.titleCard .description {
    color: #e6e3df;
}

blockquote {
    border-left: 5px solid var(--line-colour);
}

hr {
    background-color: var(--dark-line-colour);
}

h1,
h2 {
    border-bottom: 2px solid var(--dark-line-colour);
}