:root {
    --light-line-colour: #a9b9c7;
    --light-dark-line-colour: #94a6b6;
    --light-link-colour: #0d5db8f0;
}

#text-content {
    color: #222426;
    background-color: #d6c7b1;
}

#text-content>a[href^="#"],
#text-content>blockquote>a,
#text-content>blockquote>*>a,
#text-content>blockquote>*>*>a,
#text-content>p>a {
    color: var(--light-link-colour);
    /* font-weight: bold; */
    /* text-decoration: underline; */
}

#text-content>blockquote {
    border-left: 5px solid var(--light-line-colour);
}

#text-content>hr {
    background-color: var(--light-dark-line-colour);
}

#text-content>h1,
#text-content>h2 {
    border-bottom: 2px solid var(--light-dark-line-colour);
}