:root {
    --line-colour: #a9b9c7;
    --dark-line-colour: #94a6b6;
    --link-colour: #0d5db8f0;
}

#text-content {
    color: #222426;
    background-color: #d6c7b1;
}

a[href^="#"],
blockquote>a,
blockquote>*>a,
blockquote>*>*>a,
p>a {
    color: var(--link-colour);
    /* font-weight: bold; */
    /* text-decoration: underline; */
}

blockquote {
    border-left: 5px solid var(--line-colour);
}

hr {
    background-color: var(--dark-line-colour);
}

h1,
h2 {
    border-bottom: 2px solid var(--dark-line-colour);
}