._404Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

._404Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 80px;
    background-color: #2c3035;
    box-shadow: 0px 0px 20px #00000066;
    text-align: center;

    @media screen and (max-width:600px) {
        padding: var(--root-page-padding);
        background: none;
        box-shadow: none;
    }
}

._404Title {
    font-family: var(--bellota-text-font-family);
    font-weight: bold;
    font-size: 28pt;
}

._404Message {
    font-family: var(--montserrat-alternates-font-family);
}

.backButton {
    background-color: #00000020;
    border: 2px solid #ffffff30;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: var(--bellota-text-font-family);
    font-weight: bold;
    font-size: 12pt;

    &:hover {
        background-color: #ffffff10;
        border-color: #ffffff40;
    }
}