.gridContainer {
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    margin-top: 20px;
    gap: 10px;
    flex-grow: 1;
    margin-bottom: 40px;

    @media screen and (max-width: 1400px) {
        width: calc(100% - var(--root-page-padding) * 2);
    }
}

.titleCard {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: min-content !important;
    margin-inline: 0 !important;
    margin-top: 0 !important;
    grid-area: 1 / 1 / 3 / 2;

    &>div:last-child {
        margin-inline: 0 !important;
    }

    @media screen and (max-width: 1100px) {
        width: 100% !important;
        grid-area: 1 / 1 / 2 / 3;
        /* flex-direction: row !important; */
    }
}

.contentCard {
    padding: 0 !important;
    overflow: hidden;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    grid-area: 1 / 2 / 3 / 3;

    .pdfIFrame {
        border: none;
        color-scheme: dark;
    }

    @media screen and (max-width: 1100px) {
        grid-area: 2 / 1 / 3 / 3;
    }
}