.pageTitleContainer {
    @media screen and (max-width: 750px) {
        flex-direction: column !important;
        gap: 10px !important;

        .flavourText {
            align-self: center !important;
            margin: 0 !important;
        }
    }

    @media screen and (max-width: 630px) {
        .pageTitle {
            margin-top: 8px;
            font-size: 46pt !important;
        }
    }

    @media screen and (max-width: 610px) {
        .pageTitle {
            margin-top: 8px;
            font-size: 36pt !important;
        }
    }

    @media screen and (max-width: 600px) {
        .flavourText {
            display: initial !important;
        }
    }
}