@import url("https://fonts.googleapis.com/css?family=Bad Script");
@import url("https://fonts.googleapis.com/css?family=Bellota Text");
@import url("https://fonts.googleapis.com/css?family=Catamaran");
@import url("https://fonts.googleapis.com/css?family=Montserrat Alternates");

:root {
    --max-element-width: calc(100% - 16px);
    color-scheme: dark;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

* {
    transition: all 0.3s ease;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

body {
    background: linear-gradient(to bottom, #222426 10%, #1d1f20 90%) fixed;
    color: #d3cfca;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100svh;
}

#__next {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}