@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");

:root {
    --bad-script-font-family: 'Bad Script', 'Noto Serif', 'Noto Serif HK', 'Segoe UI Emoji', cursive;
    --catamaran-font-family: 'Catamaran', 'Noto Sans', 'Noto Sans HK', 'Segoe UI Emoji', sans-serif;
}

.titleCard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    font-weight: bold;

    .avatarContainer {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .avatarWrapper {
            width: 60%;
            aspect-ratio: 1 / 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            &>img {
                position: absolute;
            }

            &>img:nth-child(2) {
                --cut-center: 50%;
                --cut-width: 20%;

                animation: avatarSlide 10s linear infinite alternate;

                clip-path: polygon(calc(var(--cut-center) + var(--cut-width) / 2) 0,
                        100% 0,
                        100% 100%,
                        calc(var(--cut-center) - var(--cut-width) / 2) 100%);
            }
        }
    }

    .centerContainer {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .nameContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
            gap: 1%;

            .hiText {
                font-family: var(--bad-script-font-family);
                text-wrap: nowrap;
                font-size: 12pt;
                letter-spacing: 2px;
            }

            .handleName {
                font-family: var(--montserrat-alternates-font-family);
                font-size: 64pt;
            }
        }

        .fullName {
            font-family: var(--montserrat-alternates-font-family);
            font-size: 18pt;
        }

        .statusText {
            font-family: var(--bellota-text-font-family);
            font-size: 11pt;
            opacity: 0.8;
            text-align: justify;
        }
    }

    .contactsContainer {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .description {
        font-family: var(--bellota-text-font-family);
        font-size: 11pt;
    }
}

.emailContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 8px;
    gap: 20px;
    background: linear-gradient(to right, rgb(69, 110, 141) 0%, rgb(61, 120, 161) 90%);
    font-family: var(--catamaran-font-family);
    font-size: 14pt;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: 0.5px;
    width: 100%;
    height: 75px;

    &>button,
    &>a {
        all: unset;
        color: inherit;
        cursor: pointer;
        position: relative;
        height: 100%;
    }

    .copyEmailButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .emailLine1 {
            translate: 0 2px;
        }

        .emailLine2 {
            translate: 0 -2px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 4px;

            .emailAt {
                font-weight: bold;
            }
        }
    }

    .sendEmailButton {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        .sendEmailIcon {
            position: relative;
            font-size: 36pt;
            top: 4px;
            filter: drop-shadow(2px 2px 2px #1c334480);
        }
    }

    .tooltip {
        --background-color: #5e6a75;

        position: absolute;
        background-color: var(--background-color);
        color: #ffffff;
        border-radius: 6px;
        padding: 5px 10px;
        z-index: 9999;
        transition: opacity 0.3s ease-in-out;
        font-size: 14pt;
        top: -20px;
        translate: 0 -100%;
        text-wrap: nowrap;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        user-select: none;
        cursor: initial;
        opacity: 0;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: var(--background-color) transparent transparent transparent;
        }
    }
}

.socialBox {
    position: relative;
    top: 10px;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .lineBreak {
        flex-basis: 120%;
        height: 5px;
    }
}

@property --cut-center {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --cut-width {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 40%;
}

@keyframes avatarSlide {

    0%,
    30% {
        --cut-center: calc(0% - var(--cut-width) / 2);
        animation-timing-function: cubic-bezier(0.70, 0.0, 0.30, 1.0);
    }

    70%,
    100% {
        --cut-center: calc(100% + var(--cut-width) / 2);
        animation-timing-function: cubic-bezier(0.70, 0.0, 0.30, 1.0);
    }
}