@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");

:root {
    --bad-script-font-family: 'Bad Script', 'Noto Serif', 'Noto Serif HK', 'Segoe UI Emoji', cursive;
    --catamaran-font-family: 'Catamaran', 'Noto Sans', 'Noto Sans HK', 'Segoe UI Emoji', sans-serif;
}

.titleCard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 32px !important;
    font-weight: bold;
    gap: 20px !important;

    .avatarContainer {
        max-width: 20%;
        min-width: min-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .avatarWrapper {
            width: 100%;
            min-width: min-content;
            aspect-ratio: 1 / 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            &>img {
                position: absolute;
            }

            &>img:nth-child(2) {
                --cut-center: 50%;
                --cut-width: 20%;

                animation: avatarSlide 10s linear infinite alternate;

                clip-path: polygon(calc(var(--cut-center) + var(--cut-width) / 2) 0,
                        100% 0,
                        100% 100%,
                        calc(var(--cut-center) - var(--cut-width) / 2) 100%);
            }
        }

        .avatarDescription {
            font-family: var(--bellota-text-font-family);
            font-size: 11pt;
            white-space: nowrap;
        }
    }

    .centerContainer {
        width: 50%;
        min-width: min-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .nameContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;

            .hiText {
                font-family: var(--bad-script-font-family);
                white-space: nowrap;
                font-size: 12pt;
                letter-spacing: 2px;
                width: 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                translate: -5px 0;
            }

            .handleName {
                font-family: var(--montserrat-alternates-font-family);
                font-size: 64pt;
            }
        }

        .fullName {
            font-family: var(--montserrat-alternates-font-family);
            font-size: 18pt;
            white-space: nowrap;
        }

        .statusText {
            font-family: var(--bellota-text-font-family);
            font-size: 11pt;
            opacity: 0.8;
            text-align: justify;
        }
    }

    .contactsContainer {
        width: 20%;
        min-width: min-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}

.emailContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 8px;
    gap: 20px;
    background: linear-gradient(to right, rgb(69, 110, 141) 0%, rgb(61, 120, 161) 90%);
    font-family: var(--catamaran-font-family);
    font-size: 14pt;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: 0.5px;
    width: 240px;
    height: 75px;
    min-width: 230px;

    &>button,
    &>a {
        all: unset;
        color: inherit;
        cursor: pointer;
        position: relative;
        height: 100%;
    }

    .copyEmailButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .emailLine1 {
            translate: 0 2px;
        }

        .emailLine2 {
            translate: 0 -2px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 4px;

            .emailAt {
                font-weight: bold;
            }
        }
    }

    .sendEmailButton {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        .sendEmailIcon {
            position: relative;
            font-size: 36pt;
            top: 4px;
            filter: drop-shadow(2px 2px 2px #1c334480);
        }
    }

    .tooltip {
        --background-color: #5e6a75;

        position: absolute;
        background-color: var(--background-color);
        color: #ffffff;
        border-radius: 6px;
        padding: 5px 10px;
        z-index: 9999;
        transition: opacity 0.3s ease-in-out;
        font-size: 14pt;
        top: -20px;
        translate: 0 -100%;
        white-space: nowrap;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        user-select: none;
        pointer-events: none;
        cursor: initial;
        opacity: 0;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: var(--background-color) transparent transparent transparent;
        }
    }
}

.socialBox {
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .lineBreak {
        flex-basis: 120%;
        height: 5px;
    }
}

@property --cut-center {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --cut-width {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 40%;
}

@keyframes avatarSlide {

    0%,
    30% {
        --cut-center: calc(0% - var(--cut-width) / 2);
        animation-timing-function: cubic-bezier(0.70, 0.0, 0.30, 1.0);
    }

    70%,
    100% {
        --cut-center: calc(100% + var(--cut-width) / 2);
        animation-timing-function: cubic-bezier(0.70, 0.0, 0.30, 1.0);
    }
}

@media screen and (max-width:1300px) and (min-width:1000px) {
    .hiText {
        opacity: 0;
    }
}

@media screen and (max-width:1000px) and (min-width:780px) {
    .titleCard {
        flex-wrap: wrap;
        justify-content: space-around !important;

        .contactsContainer {
            width: 100%;
            flex-direction: row;

            .emailContainer {
                width: 40%;
            }

            .socialBox {
                flex-wrap: nowrap;

                .lineBreak {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width:830px) {
    .hiText {
        opacity: 0;
    }
}

@media screen and (max-width:780px) and (min-width:760px) {
    .titleCard {
        flex-wrap: wrap;
        justify-content: space-around !important;

        .avatarContainer {
            max-width: 30%;
        }

        .nameContainer {
            gap: 0;
        }

        .contactsContainer {
            flex-direction: row;
            width: 100%;

            .socialBox {
                flex-wrap: nowrap;

                .lineBreak {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width:760px) {
    .titleCard {
        flex-wrap: wrap;
        justify-content: space-around !important;
        padding: 10px !important;

        .avatarContainer {
            gap: 0;
            min-width: initial;

            .avatarDescription {
                opacity: 0;
                height: 0;
            }
        }

        .centerContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: fit-content;
            margin: 0;
            padding: 0;
            min-width: initial;

            .nameContainer {
                .handleName {
                    font-size: 48pt;
                }
            }

            .statusText {
                display: none;
            }
        }

        .contactsContainer {
            flex-direction: column;
            width: 100%;

            .emailContainer {
                height: initial;
                width: initial;
                justify-content: center;
                gap: 10px;
                padding: 10px 20px;

                .copyEmailButton {
                    flex-direction: row;

                    .emailLine1,
                    .emailLine2 {
                        translate: 0 0;
                    }
                }
            }

            .socialBox {
                flex-wrap: nowrap;

                .lineBreak {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width:450px) {
    .titleCard {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        gap: 0 !important;

        .centerContainer {
            .nameContainer {
                .handleName {
                    font-size: 42pt;
                }
            }

            .fullName {
                display: none;
            }
        }

        .contactsContainer {
            .emailContainer {
                width: 100%;
                padding: 0;
            }

            .socialBox {
                width: 100%;
                flex-wrap: wrap;
            }
        }
    }
}