.paperList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 40px;

    @media screen and (max-width: 1100px) {
        padding-inline: 8px;
    }

    @media screen and (max-width: 900px) {
        gap: 40px;
    }
}

.paperListItem {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 5fr 3fr 0.8fr;
    align-items: flex-end;
    gap: 10px;
    height: fit-content;
    font-family: var(--noto-sans-font-family);
    border-bottom: 1px dashed #d3cfca;

    @media screen and (max-width: 900px) {
        display: grid;
        grid-template-columns: auto min-content;
        grid-template-rows: repeat(3, auto);
        gap: 5px;
    }
}

.type {
    @media screen and (max-width: 900px) {
        grid-area: 1 / 1 / 2 / 2;
    }
}

.topic {
    margin-left: 0;
    font-family: var(--bellota-text-font-family);
    font-weight: bold;
    font-size: 20pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    .pdf {
        color: #8fc3fff0;
    }

    .commentedPDF {
        font-family: var(--segeo-ui-emoji-font-family);
    }

    @media screen and (max-width: 900px) {
        grid-area: 2 / 1 / 3 / 3;
    }
}

.course {
    font-size: 12pt;

    @media screen and (max-width: 900px) {
        grid-area: 3 / 1 / 4 / 3;
    }
}

.date {
    margin-right: 0;
    font-size: 14pt;
    white-space: nowrap;
    width: fit-content;

    @media screen and (max-width: 900px) {
        grid-area: 1 / 2 / 2 / 3;
    }
}