.pageTitle {
    font-size: 58pt !important;

    @media screen and (max-width: 1300px) {
        font-size: 48pt !important;
    }

    @media screen and (max-width: 750px) {
        font-size: 32pt !important;
    }

    @media screen and (max-width: 450px) {
        font-size: 24pt !important;
    }
}