.titleCard {
    margin: 8px;
    padding: 25px 32px 32px 32px;
    border-radius: 12px;
    background-color: #2c3035;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 85%;
    height: fit-content;
}

.pageTitleContainer {
    width: 100%;
    margin-top: -25px;
    margin-bottom: -20px;
    text-align: center;
}

.pageTitle {
    font-family: 'Montserrat Alternates', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 64pt;
    font-weight: bold;
}

.flavourText {
    font-family: 'Montserrat Alternates', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    width: fit-content;
    white-space: nowrap;
}

.descriptionWrapper {
    text-align: left;
    align-content: center;
    height: 100%;
    width: 80%;
    margin-left: 25px;
    margin-right: -5px;
}

.description {
    font-family: 'Bellota Text', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    opacity: 80%;
    white-space: pre-line;
}