.social-box {
    position: relative;
    top: 10px;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.social-box>div {
    width: 32px;
    height: 32px;
}

.social-box>div>a>img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}