* {
    /* outline: 1px solid white; */
    color-scheme: dark;
}

body {
    background-color: #19112d;
    /* color: #d3cfca; */
    color: #F9EAE1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    height: 100%;
    font-size: 24px;
    font-family: 'Atkinson Hyperlegible', 'Segoe UI Emoji', 'Montserrat Alternates', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    margin: 20px;
    border: 4px solid white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-weight: bold;
    user-select: none;
}

.button:hover {
    cursor: pointer;
}

.button.blue {
    background-color: #4281A4;
}

.button.blue:hover {
    background-color: white;
    color: black;
}

.button.green {
    background-color: #48A9A6;

}

.button.green:hover {
    background-color: white;
    color: black;
}

.button.red {
    text-decoration: solid white underline !important;
    background-color: #C1666B;
}

.button.red:hover {
    background-color: white;
    color: black;
    text-decoration: solid black underline !important;
}

.button.circle {
    border-radius: 50px;
    border: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.button.invert {
    background-color: #F9EAE1;
    color: #19112d;
}

table {
    border-collapse: collapse;
    font-weight: bold;
}

table tr:first-child {
    background-color: #F9EAE1;
    color: #19112d;
    border: 1px solid #19112d;
}

table tr:first-child>td {
    border: 1px solid #19112d;
}

table tr:not(:first-child) {
    font-family: 'Courier New', Courier, monospace;
}

table tr:not(:first-child)>td {
    border: 1px solid #F9EAE1;
}

table tr>td:first-child {
    width: 220px;
    border-left: none;
}

td {
    padding: 5px 0px;
    text-align: center;
}

input {
    border: 0;
    background-color: transparent;
    color: #F9EAE1;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    user-select: none;
}

.date {
    width: 180px;
    justify-content: center;
}

.measurement {
    width: 200px;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.date-container {
    display: flex;
    justify-content: space-between;
}