body::-webkit-scrollbar {
    display: none;
}

.project-wrapper {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: fit-content;
    height: fit-content;
}

.project {
    font-size: xx-large;
    font-family: 'Bellota Text', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 16px;
    border: 5px solid #3a3b3d;
    width: 240px;
    height: 180px;
    background-size: cover;
    background-position: center;
}

.project:hover {
    cursor: pointer;
}

legend {
    color: #ccc9c5;
    text-shadow: 1px 1px 10px #000000;
    font-weight: bold;
    background: linear-gradient(to top, #3a3b3d00 20%, #3a3b3d99 40%, #3a3b3d99 50%, #3a3b3d00 75%);
    border-radius: 100px;
    text-align: left;
}

marquee {
    direction: left;
    border-radius: 200px;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 90%;
    overflow: auto;
    height: calc(100vh - 260px);
    background: linear-gradient(to top, #ffffff04 0px, #80696900 80px);
    border-radius: 16px;
    box-shadow: 0px 0px 20px #00000066;
}

.projectContainer::-webkit-scrollbar {
    width: 6px;
}

.projectContainer::-webkit-scrollbar-track:hover {
    background-color: #55555744;
    border-radius: 10px;
}

.projectContainer::-webkit-scrollbar-thumb {
    background: #555557;
    border-radius: 10px;
}

.projectContainer::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
}