.headerContainer {
    width: 100svw;
    padding: 8px 8px 0 8px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--root-background-gradient);
    backdrop-filter: blur(8px);
    transition: none;
}

.header {
    font-family: var(--bellota-text-font-family);
    background: linear-gradient(to right, #305166 10%, #3b7094 90%);
    color: #ffffff;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 20px 20px;
    user-select: none;
    position: relative;
    box-shadow: 0px 0px 5px #00000088;
}

.headerTitle {
    font-size: 15pt;
    max-width: 380px;
    white-space: nowrap;
}

.headerCatalogue {
    font-size: 12pt;
    font-family: var(--montserrat-alternates-font-family);
}

.headerCatalogueUnselected {
    max-width: 240px;
    opacity: 60%;
}

.headerCatalogueSelected {
    font-weight: 900;
    max-width: 240px;
}

.headerCatalogueSeparator {
    margin: 5px;
    opacity: 50%;

    &:last-child {
        display: none;
    }
}