:root {
    --line-colour: #d3cfca60;
    --dark-line-colour: #ffffff18;
    --link-colour: #8fc3fff0;
}

.textContainer {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 50%;
    margin-left: 5%;
    /* margin-right: 5%; */
    overflow: auto;
    height: calc(100vh - 280px);
    background: linear-gradient(to top, #ffffff04 0px, #80696900 80px);
    border-radius: 16px;
    box-shadow: 0px 0px 20px #00000066;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-family: 'Bellota Text', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16pt;
    text-align: justify;
}

.textContainer::-webkit-scrollbar {
    width: 6px;
}

.textContainer::-webkit-scrollbar-track:hover {
    background-color: #55555744;
    border-radius: 10px;
}

.textContainer::-webkit-scrollbar-thumb {
    background: #555557;
    border-radius: 10px;
}

.textContainer::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
}

a[href^="#"],
blockquote>a,
blockquote>*>a,
blockquote>*>*>a {
    color: var(--link-colour);
}

h1,
h2 {
    border-bottom: 2px solid var(--dark-line-colour);
}

h4 {
    margin-left: 30px;
}

hr {
    height: 0.2em;
    background-color: var(--line-colour);
    border: 0;
    margin: 8px 50px;
}

blockquote {
    border-left: 5px solid var(--line-colour);
    padding: 0 1em;
}

p {
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 21pt;
}

.body-container {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.controls-container {
    margin-left: 1%;
    font-size: 25pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

a {
    color: #faf8f5;
}

#font-selection {
    font-size: 32pt;
}