:root {
    --line-colour: #d3cfca60;
    --dark-line-colour: #ffffff18;
    --link-colour: #8fc3fff0;
}

.textContainer,
.toc-container {
    display: block;
    overflow: auto;
    height: calc(100vh - 280px);
    background: linear-gradient(to top, #ffffff04 0px, #80696900 80px);
    border-radius: 16px;
    box-shadow: 0px 0px 20px #00000066;
    font-family: 'Bellota Text', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}

.textContainer {
    font-size: 16pt;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 50%;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.toc-container {
    /* border: 1px solid red; */
    width: 25%;
    margin-right: 1%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.toc-container>h1 {
    text-align: center;
}

.toc-container {
    direction: rtl;
}

.toc-container>* {
    direction: ltr;
}

.textContainer::-webkit-scrollbar,
.toc-container::-webkit-scrollbar {
    width: 6px;
}

.toc-container::-webkit-scrollbar {
    width: 3.5px;
}

.textContainer::-webkit-scrollbar-track:hover,
.toc-container::-webkit-scrollbar-track:hover {
    background-color: #55555744;
    border-radius: 10px;
}

.textContainer::-webkit-scrollbar-thumb,
.toc-container::-webkit-scrollbar-thumb {
    background: #555557;
    border-radius: 10px;
}

.textContainer::-webkit-scrollbar-thumb:hover,
.toc-container::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
}

a[href^="#"],
blockquote>a,
blockquote>*>a,
blockquote>*>*>a,
p>a {
    color: var(--link-colour);
}

h1,
h2 {
    border-bottom: 2px solid var(--dark-line-colour);
}

h4 {
    margin-left: 30px;
}

hr {
    height: 0.2em;
    background-color: var(--line-colour);
    border: 0;
    margin: 8px 50px;
}

blockquote {
    border-left: 5px solid var(--line-colour);
    padding: 0 1em;
}

p {
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 21pt;
}

.body-container {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.controls-container {
    margin-left: 1%;
    font-size: 25pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

a {
    color: #faf8f5;
}

#font-selection {
    font-size: 32pt;
}


/* table {
    border-collapse: collapse;
    margin-bottom: 0.7em;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 21pt;
} */


/* table of contents list */

ul {
    padding-left: 25px;
}

#toc-container>ul>li>ul>li>a {
    padding-bottom: 50px;
}

#toc-container>ul>li>ul>li>ul>li {
    padding-top: 2px;
    padding-bottom: 2px;
}

#toc-container>ul>li>ul {
    padding-left: 15px;
}

#toc-container>ul>li>ul>li {
    padding-top: 5px;
    padding-bottom: 0px;
    border-bottom: 2px solid var(--dark-line-colour);
}

#toc-container>ul>li>a,
#toc-container>ul>li>ul>li>ul>li>a {
    font-weight: bold;
}

#toc-container>ul>li>ul>li>ul>li>ul {
    padding-left: 30px;
    list-style-type: "-  ";
}