.structure-handler {
    display: flex;
}

.titleCard {
    width: 50%;
}

.shelfContainer {
    height: calc(100vh - 105px);
}

@media only screen and (max-width: 1000px) {
    .structure-handler {
        display: block;
    }

    .titleCard {
        width: 80%;
    }

    .shelfContainer {
        height: calc(100vh - 350px);
    }
}