name: Deploy Next.js site to Pages

on:
    push:
        branches: ["main"]
    workflow_dispatch:
    repository_dispatch:
        types: [build-site]

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest
            - name: Setup Pages
              uses: actions/configure-pages@v5
              with:
                  static_site_generator: next
            - name: Install dependencies
              run: bun install --frozen-lockfile
            - name: Build with Next.js
              run: bun run build
            - name: Generate GitHub context JSON
              run: |
                  echo '${{ toJson(github) }}' | jq '{job, ref, sha, repository, repository_Url, run_id, run_number, run_attempt, artifact_cache_size_limit, actor, trigerring_actor, workflow, event_name, event, ref_name, ref_protected, ref_type, secret_source, workflow_ref, workflow_sha, workspace}' | jq 'del(.event.base_ref, .event.organization, .event.repository, .event.sender)' > public/github-context.json
              shell: bash
            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: ./out

    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
