html {
    padding: 10%;
    background-color: black;
    color: white;
    font-size: 16pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

#videoElement {
    width: 640;
    height: 480;
}

canvas {
    outline: 1px solid white;
}

#page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 700px) {
    #container {
        scale: 0.5;
        flex-direction: column;
    }
}

#diagnosticsText {
    font-family: 'Courier New', Courier, monospace;
}